@{

    @model AoC18.Models.AllDaysModel;

    ViewData["Title"] = "Days Page";



}

<div class="announcement"> 
<p>
    As of 2019-01-31 it is quite unlikely that I will return to this project. For the time being, consider it shelved at <b>13 / 50</b> stars. My personal objective of becoming more familiar with the MVC system was a success.
    This is most apparent with the evolution of the genericised Day controller and Day interface, and the model powering the content below displayed here.
</p>
    
<p>
    I consider it a successful learning experience, and may come up with a solution with less overhead for the 2019 challenge.
</p>
    </div>

<div class="daysContainer">

    @foreach (DayModel day in Model.allDays)
    {
        <div class="day-box">
            <a asp-area="" asp-controller="Days" asp-action="@day.action" class="day-link">
                <h2>Day @day.DayNumber - <img src="@day.firstStarPath"class="starimg" /><img src="@day.secondStarPath" class="starimg" /></h2>

                @day.title
            </a>
        </div>
     }
</div>