@{

    @model AoC18_core_v3.Models.AllDaysModel;

    ViewData["Title"] = "Days Page";



}



<div class="daysContainer">

    @foreach (DayModel day in Model.allDays)
    {
        <div class="day-box">
            <a asp-area="" asp-controller="Days" asp-action="@day.action" class="day-link">
                <h2>Day @day.DayNumber - <img src="@day.firstStarPath"class="starimg" /><img src="@day.secondStarPath" class="starimg" /></h2>

                @day.title
            </a>
        </div>
     }
</div>